USE [CREADIT_CARD]
GO
/****** Object:  Table [dbo].[BrandData]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BrandData](
	[bid] [int] NOT NULL,
	[brand] [nvarchar](50) NULL,
 CONSTRAINT [PK_BrandData] PRIMARY KEY CLUSTERED 
(
	[bid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CardData]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CardData](
	[id] [int] NOT NULL,
	[username] [nvarchar](50) NULL,
	[cardno] [nvarchar](50) NULL,
	[cvv] [nvarchar](50) NULL,
	[card_type] [nvarchar](50) NULL,
	[exp_month] [nvarchar](50) NULL,
	[exp_year] [nvarchar](50) NULL,
 CONSTRAINT [PK_CardData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IpData]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IpData](
	[uid] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NULL,
	[idaddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_IpData] PRIMARY KEY CLUSTERED 
(
	[uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductData]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductData](
	[pid] [int] NOT NULL,
	[brand] [nvarchar](50) NULL,
	[pname] [nvarchar](50) NULL,
	[storage] [int] NULL,
	[size] [float] NOT NULL,
	[battery] [int] NULL,
	[price] [int] NULL,
	[photo] [nvarchar](50) NULL,
	[pdescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductData] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[mobile] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[username] [nvarchar](50) NULL,
	[pwd] [nvarchar](50) NULL,
	[photo] [nvarchar](50) NULL,
	[ip] [nvarchar](50) NULL,
	[pin] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionData]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionData](
	[tid] [int] NOT NULL,
	[username] [nvarchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[ip] [nvarchar](50) NULL,
	[trans_from] [nvarchar](50) NULL,
	[geocode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Temp] PRIMARY KEY CLUSTERED 
(
	[tid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRatings]    Script Date: 28/04/2023 5:35:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRatings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [smallint] NULL,
	[status] [nvarchar](50) NULL,
	[username] [nvarchar](50) NULL,
	[pid] [int] NULL,
 CONSTRAINT [PK_UserRatings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BrandData] ([bid], [brand]) VALUES (1, N'Samsung')
INSERT [dbo].[BrandData] ([bid], [brand]) VALUES (2, N'Lenovo')
INSERT [dbo].[BrandData] ([bid], [brand]) VALUES (3, N'MI')
GO
INSERT [dbo].[CardData] ([id], [username], [cardno], [cvv], [card_type], [exp_month], [exp_year]) VALUES (1, N'amit', N'4512859565235689', N'123', N'Visa', NULL, NULL)
INSERT [dbo].[CardData] ([id], [username], [cardno], [cvv], [card_type], [exp_month], [exp_year]) VALUES (2, N'rohit', N'4689570428001046', N'123', N'Visa', NULL, NULL)
INSERT [dbo].[CardData] ([id], [username], [cardno], [cvv], [card_type], [exp_month], [exp_year]) VALUES (3, N'parli', N'4578963623123633', N'789', N'Visa', NULL, NULL)
GO
INSERT [dbo].[ProductData] ([pid], [brand], [pname], [storage], [size], [battery], [price], [photo], [pdescription]) VALUES (11, N'Samsung', N'Samsung Note 3 Neo', 2, 5, 3100, 6999, N'p_11.jpg', N'Good  product')
INSERT [dbo].[ProductData] ([pid], [brand], [pname], [storage], [size], [battery], [price], [photo], [pdescription]) VALUES (12, N'Samsung', N'Samsung Galaxy C9 Pro', 6, 5.5, 4000, 35000, N'p_12.jpg', N'Good  product')
INSERT [dbo].[ProductData] ([pid], [brand], [pname], [storage], [size], [battery], [price], [photo], [pdescription]) VALUES (14, N'Lenovo', N'Lenovo P2', 3, 5.5, 5100, 14490, N'p_14.jpg', N'Good  product')
GO
INSERT [dbo].[Registration] ([id], [name], [email], [mobile], [address], [username], [pwd], [photo], [ip], [pin], [status]) VALUES (1, N'Amit Sawant', N'amitssawarkar@gmail.com', N'9503351933', N'Rathi nagar', N'amit', N'HQYO0IsDLfl9/yYBX37T2A==', N'dilip - Copy.jpg', N'127.0.0.1', N'999', N'Active')
INSERT [dbo].[Registration] ([id], [name], [email], [mobile], [address], [username], [pwd], [photo], [ip], [pin], [status]) VALUES (2, N'Rohit Sharma', N'rohit@gmail.com', N'9503351933', N'Ravi Nagar', N'rohit', N'7Z95szIAqiUeWuX8ASgndw==', N'prashant - Copy.jpg', N'127.0.0.1', N'950', N'Active')
INSERT [dbo].[Registration] ([id], [name], [email], [mobile], [address], [username], [pwd], [photo], [ip], [pin], [status]) VALUES (3, N'Parli Talda', N'parli@gmail.com', N'8554836619', N'Ravi nagar', N'parli', N'auKhLtE0SU2DwvIdve3kYQ==', N'p_2.jpg', N'127.0.0.1', N'100', N'Active')
GO
INSERT [dbo].[TransactionData] ([tid], [username], [status], [ip], [trans_from], [geocode]) VALUES (1, N'parli', N'Done', NULL, NULL, NULL)
INSERT [dbo].[TransactionData] ([tid], [username], [status], [ip], [trans_from], [geocode]) VALUES (2, N'rohit', N'Reject', NULL, NULL, NULL)
INSERT [dbo].[TransactionData] ([tid], [username], [status], [ip], [trans_from], [geocode]) VALUES (3, N'rohit', N'Reject', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[UserRatings] ON 

INSERT [dbo].[UserRatings] ([Id], [Rating], [status], [username], [pid]) VALUES (1, 2, N'Service', N'amit', 2)
INSERT [dbo].[UserRatings] ([Id], [Rating], [status], [username], [pid]) VALUES (2, 1, N'Cost', N'amit', 1)
INSERT [dbo].[UserRatings] ([Id], [Rating], [status], [username], [pid]) VALUES (3, 3, N'Cost', N'amit', 2)
SET IDENTITY_INSERT [dbo].[UserRatings] OFF
GO
ALTER TABLE [dbo].[ProductData] ADD  CONSTRAINT [DF_ProductData_pdescription]  DEFAULT ((0)) FOR [pdescription]
GO
