<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="LIS" value="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"/>
    <add key="constr" value="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"/>

    <!--<add key="LIS" value="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"/>
    <add key="constr" value="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"/>-->




  </appSettings>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True" />
    <add name="DISCUSSIONFORUMConnectionString" connectionString="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="PATTERN_CLASSIFIERConnectionString" connectionString="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QueryFacets_NewDesignConnectionString" connectionString="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CREADIT_CARDConnectionString" connectionString="Data Source=LAPTOP-4IQ141PN\SQLEXPRESS01;Initial Catalog=CREADIT_CARD;Integrated Security=True"
      providerName="System.Data.SqlClient" />

    <!--<add name="DISCUSSIONFORUMConnectionString" connectionString="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"
      providerName="System.Data.SqlClient" />
    <add name="PATTERN_CLASSIFIERConnectionString" connectionString="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"
          providerName="System.Data.SqlClient" />
    <add name="QueryFacets_NewDesignConnectionString" connectionString="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"
      providerName="System.Data.SqlClient" />
    <add name="CREADIT_CARDConnectionString" connectionString="Data Source=148.72.232.167;Initial Catalog=1CREADIT_CARD;User ID=laksh1;Password=Laksh@123"
      providerName="System.Data.SqlClient" />-->



  </connectionStrings>
  
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <customErrors mode="Off"/>
    </system.web>

  
</configuration>
